#container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 500px; /* The height is 400 pixels */
  width: 80%; /* The width is the width of the web page */
}