img{
    max-width: 100%;
    height: auto;
}

p{
    font-size: 1.2em;
}

h3{
    color: orange;
}

#UPLogo{
    max-width: 40%;
}

#LMS{
    /* max-width: 40%; */
    object-fit: fill;
}

#MSeat{
    max-width: 50%;
}

.project{
    display: flex;
}

.project-description{
    padding: 10px;
}

#intro{
    display: flex;
}

#intro p{
    font-size: 1.7em;
}

#UP{
    margin: 0px;
    padding: 16px;
}

#UP h1{
    color: orange;
}