
.contactformcontainer{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.formitem{
    padding-bottom: 10px;
}

#contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
}